/* Additional styles for the header section */
.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    }
    
    .title {
    font-size: 24px;
    font-weight: bold;
    }
    
    /* Styling for cards */
    .card-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(217, 235, 244);
    }
    
    .card-header .alert {
    margin-left: 25px;
    }
    
    /* Styling for the history section */
    .history-item {
    border: thin solid lightslategray;
    margin-bottom: 3px;
    border-radius: 10px;
    background-color: lightgray;
    }
    
    .history-item h4 {
    padding-left: 10px;
    }
    
    /* Styling for form input */
    .form-input {
    border: thin solid lightslategray;
    outline: none;
    }
    
    /* Styling for forecast cards */
    .forecast-card {
    background-color: rgb(74, 180, 237);
    }
    
    /* Hiding forecast and current stats by default */
    #forecast-container, #current-stats {
    display: none;
    }